<section class="content">
  <div class="content-block">
    @for (breadscrum of breadscrums; track breadscrum) {
    <div class="block-header">
      <app-breadcrumb
        [title]="breadscrum.title"
        [items]="breadscrum.items"
        [active_item]="breadscrum.active"
      >
      </app-breadcrumb>
    </div>
    }

    <div class="row clearfix">
      <div id="card-search">
        <div class="card col-md-12">
          <div class="body">
            <!-- Campos de búsqueda existentes -->
            <form
              [formGroup]="projectFormSearchFilter"
              class="row col-md-12 col-lg-12"
            >
              <div class="col-md-12 d-flex justify-content-center align-items-center">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" style="margin: 0;">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Número de documento</mat-label>
                    <input
                      matInput
                      formControlName="documentNumber"
                      placeholder="Ingrese el número de documento del paciente"
                    />
                  </mat-form-field>
                </div>
              </div>
            <div class="col-md-12 d-flex justify-content-center align-items-center">
              <div class="col-md-6">
                <button mat-raised-button color="secundary" class="w-100"  [disabled]="projectFormSearchFilter.invalid" (click)="search()">Buscar...</button>
              </div>
            </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
